@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

/*--------------------*/
body {
  font-family: "Fira Sans", sans-serif;
}

a {
  color: inherit;
  font-family: inherit;
}

.header {
  padding-top: 44px;
  background: #F2F3F6;
  height: 100vh;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
}
.menu__list-item + .menu__list-item {
  margin-left: 20px;
}
.menu__list-link {
  font-size: 16px;
  line-height: 19px;
  color: #111238;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu__list-link:hover {
  color: #1A75E8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.authorization-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.authorization__button-link {
  font-size: 16px;
  line-height: 19px;
  color: #111238;
  padding: 5px 0;
  margin-right: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.authorization__button-link:hover {
  color: #1A75E8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-primary {
  padding: 15px 30px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #1A75E8;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-primary:hover {
  background: #005dce;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}