@import "nullstyle.scss";
body {
    font-family: "Fira Sans", sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    font-family: inherit;
}

.title {
    color: #111238;
    font-weight: 900;
    &-description {
        font-size: 18px;
        line-height: 140%;
        color: #111238;
    }
}

.titles {
    color: #111238;
    font-weight: 700;
}

.header {
    padding-top: 44px;
    padding-bottom: 56px;
    background: #F2F3F6;
}

.header__inner {
    margin-bottom: 75px;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    &-item+&-item {
        margin-left: 20px;
    }
    &-link {
        font-size: 16px;
        line-height: 19px;
        color: #111238;
        transition: 0.3s;
    }
    &-link:hover {
        color: #1A75E8;
        transition: 0.3s;
    }
}

.authorization-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.authorization__button-link {
    font-size: 16px;
    line-height: 19px;
    color: #111238;
    padding: 5px 0;
    margin-right: 40px;
    transition: 0.3s;
    &:hover {
        color: #1A75E8;
        transition: 0.3s;
    }
}

.button-primary {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #1A75E8;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
        background: #005dce;
        transition: 0.3s;
    }
}


/*
*/

.header-info {
    padding-top: 43px;
}

.header__title {
    font-size: 44px;
    line-height: 53px;
    color: #111238;
    margin-bottom: 15px;
}

.header__description {
    margin-bottom: 30px;
}

.header__search {
    background: #FFFFFF;
    border: 1px solid rgba(209, 209, 209, 0.1);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;
    padding: 11px;
    max-width: 447px;
    margin-bottom: 15px;
    &-area {
        padding: 0 8px 0 13px;
        font-size: 16px;
        line-height: 19px;
        flex-grow: 1;
        margin-right: 5px;
        &::placeholder {
            font-size: 16px;
            line-height: 19px;
            color: #B2B2B2;
            font-family: "Fira Sans", sans-serif;
        }
        &:focus {
            outline: 1px dashed #666;
        }
    }
    &-button span {
        padding-left: 25px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: url('../images/search.svg');
            height: 15px;
            width: 15px;
        }
    }
}

.tags-group {
    margin-left: 10px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #B2B2B2;
}

.tags-lable {
    margin-right: 5px;
}

.tag {
    padding: 5px 10px;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    margin-left: 10px;
}

.section {
    padding-top: 70px;
    padding-bottom: 80px;
}

.section__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
}

.card {
    background-color: #8575;
    display: inline-block;
    background: #F2F3F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    padding: 35px 40px;
    &__text {
        font-size: 16px;
        line-height: 19px;
        color: #111238;
        transition: 0.4s ease-in-out;
    }
    &__icon {
        margin-bottom: 15px;
        fill: #111238;
        transition: 0.4s ease-in-out;
    }
    &:hover {
        background: #1A75E8;
        transition: 0.4s ease-in-out;
    }
    &:hover &__icon,
    &:hover &__text {
        transition: 0.4s ease-in-out;
        fill: #fff;
        color: #fff;
    }
}

.offers__inner {
    margin-bottom: 40px;
}

.offers__button {
    margin: 0;
    margin: auto;
    max-width: 193px;
}

.offer {
    border: 1px solid #C5C9D5;
    border-radius: 10px;
    padding: 30px 45px 30px 30px;
    &+& {
        margin-top: 20px;
    }
    &__image {
        height: 100px;
        width: 100px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 20px;
        border: 1px solid #F2F3F6;
        &-img {
            object-fit: cover;
        }
    }
    &__title {
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 14px;
        line-height: 17px;
        color: rgba(17, 18, 56, .8);
    }
    &__salery {
        background: #1A75E8;
        border-radius: 5px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        padding: 10px 25px;
        margin-left: 46px;
        margin-right: 62px;
    }
    &__more {
        padding-right: 20px;
        position: relative;
        font-size: 14px;
        line-height: 17px;
        color: #1A75E8;
        margin-left: auto;
    }
    &__more::after {
        content: '→';
        position: absolute;
        right: 0px;
        transition: .2s;
    }
    &__more:hover.offer__more::after {
        right: -7px;
        transition: .2s;
    }
}

.subscribe {
    background-color: #F2F3F6;
    &__inner {
        text-align: center;
        margin: 0 auto;
        max-width: 460px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 43px;
    }
    &__description {
        margin-bottom: 40px;
    }
    &__input {
        text-align-last: left;
    }
    &__button span {
        padding-left: 25px;
        position: relative;
    }
    &__button span::before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        bottom: 0;
        background-image: url('../images/Vector.svg');
        height: 14px;
        width: 15px;
    }
}

.footer {
    padding: 70px 0px 100px 0px;
    &__copy {
        max-width: 166px;
        font-size: 12px;
        line-height: 140%;
        color: #B2B2B2;
    }
    &__logo {
        margin-bottom: 20px;
    }
    &__list-title {
        font-weight: 900;
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 19px;
        color: #111238;
    }
    &__list-item {
        font-size: 16px;
        line-height: 19px;
        color: #111238;
        transition: 0.3s;
    }
    &__list-item:hover {
        color: #1A75E8;
        transition: 0.3s;
    }
    &__list-item+&__list-item {
        margin-top: 10px;
    }
}